## Python
__pycache__/
*.py[cod]
.venv/
env/
venv/

## Node
node_modules/
build/
dist/

## OS
Thumbs.db
desktop.ini

## Docker
*.tar

## Data
# By default we ignore `dataset/` because it can be very large.
dataset/

# If you want to include dataset in the repo, remove or comment the previous line.

# Ignore common virtual envs inside project folders
**/venv/
**/.venv/
**/env/

# Frontend node modules
frontend-react/node_modules/
frontend-test/node_modules/

# Exclude local IDE/editor folders
.vscode/
.idea/
